#text{
    margin-left: 80%;
    margin-top: 8%;
    
}
#text1{
    background-image:url(https://dl.bahalmag.ir/images/%D8%B9%DA%A9%D8%B3_%D8%A8%DA%A9_%DA%AF%D8%B1%D8%A7%D9%86%D8%AF_%D8%A8%D8%B1%D8%A7%DB%8C_%D9%85%D8%AA%D9%86/%D8%B9%DA%A9%D8%B3-%D8%A8%DA%A9-%DA%AF%D8%B1%D8%A7%D9%86%D8%AF-%D8%A8%D8%B1%D8%A7%DB%8C-%D9%85%D8%AA%D9%86.jpg) ;
}
#text2{
    margin-left: 80%;
}
#text3{
    margin-left: 80%;
}
#text4{
    margin-left: 80%;
}
#text5{
    margin-left: 88%;
}
#textp{
    margin-left: 80%;
}
.input :-ms-input-placeholder{
    color: black;

}



    










    




    

